<html>
    <head>	
        {% load i18n %}
        <title>{% trans "Welcome to RecallInfo" %}</title>
        {% load static %}
        <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
        <link rel="stylesheet" href='{% static "css/core.css" %}'>
        <link rel="stylesheet" href='{% static "css/components.css" %}'>
        <link rel="stylesheet" href='{% static "css/colors.css" %}'>	
        <link rel="stylesheet" href='{% static "css/icons/icomoon/styles.css" %}'>	
        <link rel="stylesheet" href='{% static "fontawesome-5_13/css/all.min.css" %}'>        
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
        </head>
    <body class="navbar-bottom">
    <!-- Page header -->
        <div class="page-header page-header-inverse"> 
            {% url 'Account_Login' as login_account_url %}
            {% url 'Login' as login_url %}
                {% if request.path != login_account_url and request.path != login_url %} 
                    {% include "../elements/header.html" %}
                {% endif %}              
        </div>
        <!-- Page container -->        
        <div class="page-container">         
            <!-- Page content -->
            <div class="page-content">
            <!-- Main content -->
                <div class="content-wrapper">
                    {% block content %}
                      {% endblock content %}
                </div>
            </div>            
        </div>
        <script src="{% static 'js/plugins/loaders/pace.min.js' %}"></script>
        <script src="{% static 'js/core/libraries/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/libraries/bootstrap.min.js' %}"></script>        
        <script src="{% static 'js/plugins/ui/drilldown.js' %}"></script>                              
        <script src="{% static 'js/jquery.validate.js' %}"></script>
        <script src="{% static 'js/validation.js' %}"></script>             
        <script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>           
        <script src="{% static 'fontawesome-5_13/js/all.min.js' %}"></script>  
        <script src="{% static 'js/custom.js' %}"></script>
        </body>    
</html>