{% extends '../layouts/default.html' %}
{% block content %}
{% load i18n %}
<!-- Content area -->
<div class="content"> 
        <div class="row background-padding-filter-margin before-form-border">    
            <div class="col-md-12 background-padding-filter">
                <!-- Basic layout-->
                <form action="{% url 'View_Group' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>{% trans "Search" %}</label>
                            <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="search" value="{% if filter_form.name %} {{ filter_form.name }} {% endif %}">
                        </div>									                            
                    </div>
                    <div class="col-md-2 margin-top-filter">
                        <button type="submit" class="btn btn-primary" name="filter" value="Filter">{% trans "Filter" %}</button>
                        <button type="submit" class="btn btn-success" name="reset" value="Reset">{% trans "Reset" %}</button>
                    </div>
                </form>
                <!-- /basic layout -->
            </div>
        </div>     
             
    {% include '../elements/record_listing.html' %} 

    <!-- Highlighting rows and columns -->
    <div class="panel panel-flat side-margin-1">            
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{% trans "S.No" %}</th>
                    {% comment %} header_title : Title of Text , sorting : table column name pass , order : asc , desc current applied {% endcomment %}
                    <th>{% include "../elements/sorting.html" with header_title="Group" sorting="name" %}</th> 
                    <th>{% include "../elements/sorting.html" with header_title="Status" sorting="status" %}</th>                    
                    <th class="text-center">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>                      
                {% if results %}
                    {% for result in results %}
                    <tr>                    
                        <td>{{ forloop.counter }}</td>                    
                        <td>{% if result.name %} {{result.name}} {% endif %}</td> 
                        {% if result.status %}
                            <td><span class="label label-success">{% trans "Enable" %}</span></td>
                        {% else %}
                            <td><span class="label label-warning">{% trans "Disable" %}</span></td>
                        {% endif %}                                           
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{% url 'Edit_Group' result.id %}"><i class="far fa-edit"></i> {% trans "Edit" %}</a></li>
                                        {% if result.status %}
                                            <li><a href="{% url 'Change_Status_Account' 'group' result.id False %}"><i class="fas fa-ban"></i> {% trans "Disable" %}</a></li>
                                        {% else %}
                                            <li><a href="{% url 'Change_Status_Account' 'group' result.id True %}"><i class="far fa-check-circle"></i> {% trans "Enable" %}</a></li>
                                        {% endif %}            
                                        <li><a href="{% url 'Edit_Permission' result.id %}"><i class="far fa-edit"></i> {% trans "Edit Permission" %}</a></li>                            
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>                    
                    {% endfor %}                                    
                {% else %}
                    <tr>
                        <td colspan="4"> No Record Found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>  
        {% include '../elements/pagination.html' %}        
    </div>
    <!-- /highlighting rows and columns -->
</div>
<script>

</script>
<!-- /content area -->
{% endblock content %}

